---
import { Image } from 'astro:assets';
import FerryPortrait from "../assets/ferry.png"
import MainLayout from '../layouts/MainLayout.astro';
import SocialLinkIcon from '../components/SocialLinkIcon.astro';
import FullGitHubLogo  from '../assets/logos/github-full.svg';
import FullLeetcodeLogo from '../assets/logos/leetcode-full.svg';
import FullStackoverFlowLogo from '../assets/logos/stackoverflow-full.svg';
import FullLinkedInLogo from '../assets/logos/linkedin-full.svg';
import FullMediumLogo from '../assets/logos/medium-full.svg';
const title = "About"
const description = "Ferry To's backgound, including past experiences and social contacts."
---
<MainLayout title={title} description={description}>
	<div class="portrait-container">
		<Image alt="Portrait of Ferry To" src={FerryPortrait}/>
	</div>
	<h1>You see it right. I don't have time to update his page yet.</h1>
	<h1>你冇睇錯呀，真係我未得閒整住。</h1>
	<div class="social-links">
		<SocialLinkIcon
			url="https://github.com/ferrywlto"
			alt="Go to Ferry's GitHub profile" 
			src={FullGitHubLogo}
		/>
		<SocialLinkIcon
			url="https://www.linkedin.com/in/ferry-to-2a905720"
			alt="Go to Ferry's LinkedIn profile"
			src={FullLinkedInLogo}
		/>
		<SocialLinkIcon 
			url="https://stackoverflow.com/users/2952180/ferry-to"
			alt="Go to Ferry's Stackoverflow profile"
			src={FullStackoverFlowLogo}
		/>
		<SocialLinkIcon
			url="https://leetcode.com/u/ferrywlto/"
			alt="Go to Ferry's Leetcode profile"
			src={FullLeetcodeLogo}
		/>
		<SocialLinkIcon
			url="https://medium.com/@ferrywlto"
			alt="Go to Ferry's Medium profile"
			src={FullMediumLogo}
		/>
	</div>
</MainLayout>
<style>
.portrait-container {
	display: flex;
	justify-content: center;
}
.social-links {
	display: flex;
	justify-content: center;
	gap: var(--space-md);
	margin-top: var(--space-md);
}
.social-links a {
	text-decoration: none;
	color: rgb(var(--gray));
	transition: var(--transition-normal);
}
.social-links a:hover {
	color: rgb(var(--gray-dark));
}
</style>