---
import { Image } from 'astro:assets';
import FerryPortrait from "../assets/photos/ferry.png"
import MainLayout from '../layouts/MainLayout.astro';
import SocialLinkIcon from '../components/SocialLinkIcon.astro';
import FullGitHubLogo  from '../assets/logos/github-full.svg';
import FullLeetcodeLogo from '../assets/logos/leetcode-full.svg';
import FullStackoverFlowLogo from '../assets/logos/stackoverflow-full.svg';
import FullLinkedInLogo from '../assets/logos/linkedin-full.svg';
import FullMediumLogo from '../assets/logos/medium-full.svg';
import FullThreadsLogo from '../assets/logos/threads-full-light.svg'
import SheldonPhoto from '../assets/photos/sheldon.jpg'
import ShamyPhoto from '../assets/photos/shamy.jpg'
import SevenPhoto from '../assets/photos/seven.jpg'
import BirthdayPhoto from '../assets/photos/ferry_and_elaine.jpg'
const title = "About"
const description = "Ferry To's backgound, including past experiences and social contacts."
---
<MainLayout title={title} description={description}>
	<section>
		<div class="container flex-center">
			<div class="portrait">
				<Image alt="Portrait of Ferry To" src={FerryPortrait}/>
			</div>
		</div>
		<div class="container flex-center greeting-text">
			<h4 class="first-line">👋 Hi there! I'm Ferry.&nbsp;</h4>
			<h4>Nice to meet you. 😀</h4>
		</div>
	</section>
	<hr/>
	<section>
		<h3>About Me</h3>
		<p>
			A software engineer who spent two decades in the industry. I love solving problems and build things. Striving to work for myself one day to transform all my ideas into actual products. 
		</p>
		<p>
			My tech stack is .NET focused, C# is my current favourite language. I am also curious and keep exploring on different aspects in software development like DevOps, Cloud Infrastructure, Test Automation and AI. 
		</p>
		<p>
			Coding is the reason I wake from bed every morning after my wife and my pets. I wish I can work on software development until I cannot.
		</p>
		<p>
			I am currently living in Milton Keynes, UK with my wife and three cats. Relocated from my home country Hong Kong around May 2025 to try out another living style. I had also lived in Taiwan for around two years during the pandamic.
		</p>
		<p>
			My name <b>Ferry</b> comes from the nickname called by my family members when I was young, which is literally the abbreviation of my legal name in Chinese. It pronounces the same as Ferry in Cantonese (渡輪 ⛴️)
		</p>
	</section>
	<hr/>
	<section>
		<h3>My Career</h3>
		<p>
		I am not going to share all the details of my professional career. You can check my LinkedIn profile at the bottom of this page to view my CV. 
		</p>
		<p>
		There are multiple jobs I worked in my career was related to gaming. My first job after graduation is to work on casino slot-machines software R&D, writing both the Flash frontend and Java backend. Then my second job was working for one of the largest horse racing organization in the world, it is also the largest tax-payer and charity organization in Hong Kong. During that three years of work I built up my foundations in C#, .NET stack and web technologies. At my sixth year of my career, I was working in a mobile gaming company which provides online betting and live video streaming of betting tables from a casino in Cambodia. The fun fact is, I never gamble and dislike it.
		</p>
		<p>
		At 2012, which is the fifth year of my career I start working as a System Analyst in an airline company, but it turns out I don't enjoy the role and quitted that job in three months. It was already three years later that I work in a non-pure-developer role again.       
		</p>
		<p>
		There was a year I tried to work for myself after quiting the mobile gaming company. I was attempted to build a dining POS system with ActionScript and MXML but it is not successful to launch as my technical knowledge is not sufficient for a project that requires deep hardware integration. 
		</p>
		<p>
		I was working as a System Architect in the largest public hosing developer in Hong Kong for another three years. There was an opportunity from my ex-supervisor at 2018, which caused me to start my own business.
		</p>
		<p>
		My company VerdantSparks was founded at 2018, as a digital consultancy and was hiring four full-time employees at peak. During the two years living in Taiwan, I attempted to build a Vet & Pet SaaS business there. However the jounery didn't ended well. although we had a pitch to the Invest Taipei Office with a prototype, there was no funding raised. Eventually We didn't have the resources to continue the development of the MVP.
		</p>
		<p>
		Losing almost all my savings and what my company earned before. I decided to suspend my company, returned to Hong Kong and worked as a Senior Staff Software Engineer in a SaaS startup company for around two years before I move to the UK.    			
		</p>
		<p>
		It was my another career peak during working in a startup. We got a great team and I was a beloved leader that brings impacts and cross-team influences. The CTO taught me alot and shared much spot-lights with me, I was growing in a lighting speed.   
		</p>
		<p>
		Rapid growth comes at a price, my health was getting worse. Start getting high blood pressures due to the stress from workload plus office politcs from the executives. Therefore I decided to quit after our CTO, took a six months career break while planning for the UK relocation.
		</p>
		<p>
		Now I am just a mid-level software developer working in a large private corporation in the United States. Being a remote individual contributor. Quietly preparing for my next career peak.     
		</p>
	</section>
	<hr/>
	<section>
		<h3>My Background</h3>
		<p>WIP</p>
	</section>
	<hr/>
	<section>
		<h3>My Family</h3>
		<p>
		<h4>👰‍♀️ My Wife Elaine</h4>
			<p>Elaine is a lovely, cheerful and clever lady. She is good at driving 🚗 and cooking 🍳. She is my best friend who knows me better than anyone since I met her at her twenty. She married with me at age just twenty four, giving me so much love and support for all the years.</p>
			<Image alt="Image of my wife Elaine with me, celebrating my birthday" src={BirthdayPhoto} />
		</p>
		<p>
			<h4>🐈 Sheldon</h4>
			<p>Sheldon is a Scottish Fold & British Shorthair mix. My wife took him home shortly after the time we first met. Marking how long since I and Elaine met each other. A polite boy that is not a picky eater. He is friendly to human thus being our receptionist.</p>
			<Image alt="Image of my cat Sheldon" src={SheldonPhoto} />
		</p>
		<p>
			<h4>🐈 Shamy</h4>
			<p>Shamy is a pretty domestic ginger white. Elaine adopted her from a young korean lady after a year we get married due to I like ginger cat. Her name is a combination of Sheldon and Amy from the Big Bang Theory. Resumbling her shy and quiet personality.</p>
			<Image alt="Image of my cat Shamy" src={ShamyPhoto} />
		</p>
		<p>
			<h4>🐈 Seven</h4>
			<p>Seven is a lucky tabby white kid we saved during the time we lived in Taiwan. He was just a month old baby, jump into the middle of a highway, in front of our car just a couple of seconds away. Elaine stopped the car and pick him up such that he don't follow the tragic fate of his parent and siblings. Seven is playful and always hungry. He is the biggest in size among three.</p>
			<Image alt="Image of my cat Seven" src={SevenPhoto} />
		</p>
	</section>
	<hr/>
	<section>
		<h3>My Hobbies</h3>
		<p>WIP</p>
	</section>
	<hr/>
	<section>
		<div class="container flex-center social-links-container">
			<h4>Follow my latest news from my profiles.</h4>
			<p>
				<div class="social-links">
					<SocialLinkIcon
					url="https://www.linkedin.com/in/ferry-to-2a905720"
					alt="Go to Ferry's LinkedIn profile"
					src={FullLinkedInLogo}
					/>
					<SocialLinkIcon
					url="https://github.com/ferrywlto"
					alt="Go to Ferry's GitHub profile" 
					src={FullGitHubLogo}
					/>
					<SocialLinkIcon
					url="https://www.threads.com/@ferrywlto"
					alt="Go to Ferry's Threads profile"
					src={FullThreadsLogo}
					/>
					<SocialLinkIcon
					url="https://medium.com/@ferrywlto"
					alt="Go to Ferry's Medium profile"
					src={FullMediumLogo}
					/>
					<SocialLinkIcon
					url="https://leetcode.com/u/ferrywlto/"
					alt="Go to Ferry's Leetcode profile"
					src={FullLeetcodeLogo}
					/>
					<SocialLinkIcon 
					url="https://stackoverflow.com/users/2952180/ferry-to"
					alt="Go to Ferry's Stackoverflow profile"
					src={FullStackoverFlowLogo}
					/>
				</div>
			</p>
		</div>
	</section>
</MainLayout>
<style>
.container ul {
	margin: 0;
}
.container {
	width: 100%;
}
.section-header {
	font-size: var(--text-xl);
	text-align: center;
}
.portrait {
	width: 50%;
	min-width: 380px;
	max-width: 720px;
}

.bio-text {
	display: block;
}

.social-links-container {
	display: block;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--space-sm);
}
.bio-header {
	font-size: var(--text-3xl);
	text-align: center;
}

@media (max-width: 768px) {
	
	.follow-text {
		text-align: justify;
	}

	.greeting-text {
		display: block;
		text-align: center;
	}
}

</style>