---
import PostList from "../components/PostList.astro";
import ProjectList from "../components/ProjectList.astro";
import WhisperList from "../components/WhisperList.astro";
import SectionContainer from "../components/SectionContainer.astro";

import HeroCard from "../components/HeroCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export interface Post {
  id: string,
  collection: string,
  data: {
    title: string;
    description: string;
    pubDate: Date;
    heroImage?: string;
    tags?: string[];
  }
}

function getTopByDateReversed(posts: Post[]) {
  return posts
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3)
}

function getTopPosts(posts: Post[]) {
  return getTopByDateReversed(posts)
    .map((post) => ({
      title: post.data.title,
      date: post.data.pubDate.toISOString().split('T')[0],
      subtitle: post.data.description,
      link: `./${post.collection}/${post.id}`,
    }));
}

const blogs = getTopPosts(await getCollection("blogs"));

const diaries = getTopPosts(await getCollection("diaries"));

const projects = [
  {
    name: "Personal Portfolio Website",
    tags: ["Astro", "CSS", "JavaScript"],
    lastUpdated: "2024-06-14",
    description: "A showcase of my work and skills.",
    link: "./project/project1",
  },
  {
    name: "E-commerce Platform",
    tags: [".NET", "Azure", "AI"],
    lastUpdated: "2024-06-12",
    description: "An online store for various products.",
    link: "./project/project2",
  },
  {
    name: "Blog Application",
    tags: ["Blazor", "MAUI", "Qdrant"],
    lastUpdated: "2024-06-10",
    description: "A platform to share articles and posts.",
    link: "./project/project3",
  },
];
---

<BaseLayout>
  <main class="width-constrained-container column-container wrapper">
    <HeroCard />
    <hr />

    <div class="content-container">
      <div class="column-container content-list">
        <SectionContainer title="Tech Blog" linkText="All posts" link="./blogs">
          <PostList posts={blogs} />
        </SectionContainer>

        <SectionContainer title="Diary" linkText="Archive" link="./diaries">
          <PostList posts={diaries} />
        </SectionContainer>

        <SectionContainer title="Whispers" linkText="Archive" link="./whispers">
          <WhisperList />
        </SectionContainer>

        <SectionContainer title="Projects" linkText="All projects" link="./projects">
          <ProjectList projects={projects} />
        </SectionContainer>
      </div>
    </div>
  </main>
</BaseLayout>
<style>
  .wrapper {
    gap: var(--gap-lg);
  }

  .content-list {
    gap: var(--gap-xl);
  }

  .content-container {
    padding: var(--gap-lg);
  }
</style>
