---
export interface Props {
  background?: string;
  border?: string;
  hoverBackground?: string;
  hoverBorder?: string;
  padding?: string;
}

const {
  background = 'none',
  border = 'none',
  hoverBackground = 'none',
  hoverBorder = 'none',
  padding = 'none'
} = Astro.props;

const style = {
  padding: padding === 'none' ? 0 : `var(--gap-${padding})`,
  background: background === 'none' ? 'transparent' : background,
  border: border === 'none' ? 0 : `1px solid var(--color-${border})`
}
const classList = ['card'];
if (hoverBackground !== 'none') classList.push(`hover-background-${hoverBackground}`);
if (hoverBorder !== 'none') classList.push(`hover-border-${hoverBorder}`);
---
<div style={style} class:list={classList}>
  <slot />
</div>

<style>
  @import "../styles/typography.css";
  @import "../styles/effect.css";
  @import "../styles/spacing.css";

  .card {
    border-radius: var(--corner-lg);
  }
</style>
