---
import ColumnContainer from "./ColumnContainer.astro";
import ItemDateLabel from "./ItemDateLabel.astro";
import ItemTitleLink from "./ItemTitleLink.astro";

export interface Props {
  title: string;
  date: string;
  subtitle: string;
  link: string;
}

const { title, date, subtitle, link } = Astro.props;
---

<div class="post-list-item surface-background-hover" onclick={`window.location.href = ${JSON.stringify(link)}`}>
  <ColumnContainer gap="sm">
    <div class="title-row">
      <ItemDateLabel date={date} />
      <ItemTitleLink title={title} link={link} />
    </div>
    <h4 class="text-item-subtitle hide-on-mobile">{subtitle}</h4>
  </ColumnContainer>
</div>

<style>
  @import "../styles/typography.css";
  @import "../styles/spacing.css";
  @import "../styles/effect.css";
  @import "../styles/layout.css";

  .post-list-item {
    padding: var(--gap-sm) 0;
  }

  .title-row {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--gap-md);
  }

  @media screen and (max-width: 768px) {
    .title-row {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap-sm);
    }
  }
</style>
