---
import { getCollection } from 'astro:content';
import ProjectListItem from './ProjectListItem.astro';

const projects = (await getCollection('projects'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3)
    .map((item) => ({
      title: item.data.title,
      description: item.data.description,
      link: `projects/${item.id}`,
      tags: item.data.tags,
    }));
---

<div class="column-container">
  {
    projects.map(({ title, description, link, tags }) => (
      <ProjectListItem title={title} description={description} link={link} tags={tags} />
    ))
  }
</div>

<style>
  @import "../styles/layout.css";
  .column-container {
    gap: var(--gap-md);
  }
</style>
