---
import { getCollection } from "astro:content";
import PostPreview from "../../components/PostPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blogs")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const firstPost = posts[0];
const remainingPosts = posts.slice(1, 10);
const linkPrefix = 'blogs';
---

<BaseLayout>
  <main class="column-container width-constrained-container">
    <h1 class="text-section-title">Latest Blog Posts</h1>
    <h2 class="text-item-title">All about technology and changelog of my projects.</h2>
    <section>
      <div class="first-post">
        <PostPreview
          id={firstPost.id}
          title={firstPost.data.title}
          description={firstPost.data.description}
          pubDate={firstPost.data.pubDate}
          heroImage={firstPost.data.heroImage}
          linkPrefix={linkPrefix}
        />
      </div>
    </section>
    <section>
      <div class="remaining-posts">
        {
          remainingPosts.map((post) => (
            <PostPreview
              id={post.id}
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
              heroImage={post.data.heroImage}
              linkPrefix={linkPrefix}
            />
          ))
        }
      </div>
    </section>
  </main>
</BaseLayout>
<style>
  @import "../../styles/typography.css";
  @import "../../styles/spacing.css";
  @import "../../styles/layout.css";

  .column-container {
    padding: 0 var(--gap-lg);
    gap: var(--gap-lg);
  }

  .first-post {
    display: flex;
    width: 100%;
  }

  .remaining-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap-lg);
  }
</style>
